@model IEnumerable<ShopBook.Models.Product>

<link rel="stylesheet" href="~/css/diary.css" />

@{
    ViewData["Title"] = "Spending Diary";
}



<div class="container-fluid">

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 page-header">
    <h1>
        Check out your spending detail
    </h1>
    </div> 

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <div class="add-diary">
            <a asp-controller="SpendingDiary" asp-action="AddReceipt" class = "btn btn-primary" role="button">Add a new receipt!</a>
         </div>
   </div>

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
        <form asp-action="Index" method ="POST" class="form-horizontal" role="form">
        <div class="row">
            <label>From</label>
            <input type="date" name="StartDate"/>
            <label>to</label>
            <input type="date" name="EndDate"/>
            <label>Store</label>
            <select name = "StoreFilter" asp-items="@(new SelectList(@ViewBag.StoreName))"></select>
            <input type="submit" value="submit" />
        </div>
        </form> 

        <div class="table100 ver1 m-b-110">
            <table class="table">
                <thead>
                    <tr class="row100 head">
                        <th>Name</th>
                        <th>Store</th>
                        <th>Price</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row100">
                        <td>@Html.DisplayFor(model => item.Name)</td>
                        <td>@Html.DisplayFor(model => item.Store)</td>
                        <td>@Html.DisplayFor(model => item.Price)</td>
                        <td>@Html.DisplayFor(model => item.ProductDate)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>  

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 total">
        
        <h1>Total Expense:</h1>
        <h1> @ViewBag.TotalSpend</h1>    
    </div>
</div>










