@model ShopBook.Models.Product 

<p>
    check you spending history
</p>

<h1> @ViewBag.TotalSpend</h1>

<form asp-action="Index" method ="POST" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="row">
            <label  class="control-label" >Store</label>
            <select asp-for = "Store" asp-items="@(new SelectList(@ViewBag.StoreName))"></select>
        </div>
    </div>
    <input type="submit" value="submit" />
</form>

<h1> @ViewBag.SelectStore</h1>

 
<div class="container"> 
    <div class="row">
        <div>
            <form asp-action="Index" method ="POST" class="form-horizontal" role="form">
            @Html.Label("HTML Date control", null, new { @class = "control-label col-xs-3" })
            <div class="col-xs-3">
                <input type="date" asp-for="ProductDate"/>
                <input type="submit" value="submit"/>
            </div>
            </form>
        </div>
    </div>
</div>


<h1>@ViewBag.day</h1>

<div>
    <a asp-controller="SpendingDiary" asp-action="AddReceipt" class="btn btn-info" role="button">Add a new receipt!</a>
</div>


